.question {
    padding-left: 10px;
}

.question-div {
    margin-top: 13px;
    padding: 13px 0 13px 13px ;
}

.answers-div {
    padding-left: 10px;
    margin-top: 20px;
}

.option {
    display: block;
    font-size: 16px;
    padding: 5px 0;
}

.button-div {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 50px;
}

.next-button {
    background-color: rgb(84, 38, 209);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 16px ;
    font-size: 1rem;
}
